{% extends "base.html" %}

{% block content %}

<br>
<div class="col-md-8">
    <h1>Users on Twitter Clone</h1>
</div>

<br/><br/>
<div class="list-group">
    {% for object in object_list %}

    <div class="row">
        <div class="col-md-2">
            <h5 class="username mr-5"><a href="{% url 'tweets:my-tweets' username=object.username %}">@{{ object.username }}</a></h5>
        </div>
        <div class="col-md-4">
            <h5>Email Id: {{ object.email}}</h5>
        </div>
        <div class="col-md-5">
            <h5>Joined on: {{ object.date_joined}}</h5>
        </div>
        <div class="col-md-1">
            <button type="button" class="follower btn btn-outline-danger">Follow</button>
        </div>
    </div>
    <br><br/>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block js %}
{% load static %}
<script src="{% static 'accounts/js/follower.js' %}"></script>
{% endblock %}
